<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <title>NCARB Test App</title>
</head>
<body>
<div ng-app="myApp" ng-controller="MainCtrl">
        <input type="text" ng-model="enteredValue">
        </br>
        <button type="button" ng-Click="findValue(enteredValue)">Search</button>
    </div>


    <div ng-repeat="result in results">
        <table>
            <th>
             <td>  First Name</td>
            <td> Last Name</td>
            <td> City</td>
            <td>State</td>
            </th>
        <tr>
            <td>{{result.firstName}}</td>
            <td>{{result.lastName}}</td>
            <td>{{result.city}}</td>
        |   <td>{{result.state}}</td>
        </tr>
    </table>
</ul>

</div>
<script src="js/controllers.js"></script>
</body>
</html>